<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
 <h2><%= link_to "Add a Restaurant", new_restaurant_path %></h2>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <p>Address: <%= restaurant.address %></p>
  <p>Phone #: <%= restaurant.phone_number %></p>
  <p>Category: <%= restaurant.category %></p>
<% end %>
