<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>
<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>#: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>

<h3><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></h3>
<h3><%= link_to "Index", restaurants_path %>
</h3>
